<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Design by foolishdeveloper.com -->
    <title>Travel-Pro</title>
 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <!--Stylesheet-->
    <style media="screen">
      *,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: whitesmoke;
}
.background{
    
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.background .shape{
   
    position: absolute;
    border-radius: 50%;
}


form{
    background-color: black;
}
form *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}


input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #e5e5e5;
}
button{
    margin-top: 50px;
    width: 100%;
    background-color: #080710;
    color: white;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}


    </style>
</head>
<body>

    <div>
        <form action="/editedUser/<%= ticket._id %>" method="POST">
            <%- include ('./partials/messages') %>
            <h3>Edit User Details <%= ticket.name %> </h3>
          
    
    
            <input type="text" placeholder="User fullname" id="name" name="fullname" value="<%= ticket.fullname %>">
            <input type="text" placeholder="email" name="email" value="<%= ticket.email %>">
          
            <input type="text" placeholder="phone number" name="telephone"  value="<%= ticket.telephone %>" >
            <input type="text" placeholder="username" name="username" value="<%= ticket.username %>">        
            <input type="text" placeholder="username" name="cashInvestment" value="<%= ticket.cashInvestment %>">        
            <input type="text" placeholder="username" name="assetIncome" value="<%= ticket.assetIncome %>">        
            <input type="text" placeholder="username" name="realEstate" value="<%= ticket.realEstate %>">        
            <input type="text" placeholder="username" name="cryptoInvestment" value="<%= ticket.cryptoInvestment %>">        
          
       
    
            <button type="submit">Edit User</button>
           
        </form>

    </div>
    
  
</body>
</html>
